# Managed by SecureEdge (role backup). Secrets: root only. Sourced by
# /usr/local/sbin/secureedge-restic.
RESTIC_REPOSITORY='{{ backup_repository }}'
RESTIC_PASSWORD='{{ vault_backup_restic_password }}'
{% if backup_repository is match('^s3:') %}
AWS_ACCESS_KEY_ID='{{ vault_backup_r2_access_key_id }}'
AWS_SECRET_ACCESS_KEY='{{ vault_backup_r2_secret_access_key }}'
AWS_DEFAULT_REGION='auto'
{% endif %}
